name: Release

on:
  push:
    tags: ["v*"]

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create package
        run: |
          zip -r tomcat-maven-vagrant.zip \
            Vagrantfile config/ readme.md LICENSE \
            -x "*.git*" -x "*.vagrant*"

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: tomcat-maven-vagrant.zip
